.navbar {
    width:100%;  
}

textarea.form-control {
    min-height: calc(1.5em + .75rem + calc(var(--bs-border-width) * 2));
    margin-bottom: 10px;
    }

div.col {
    padding:3px;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    padding: 1px;
    }

.img-responsive {
    width:433px;
    height:325px;
    object-fit: cover;
}

.card {
    margin:auto;
    margin-bottom:25px;
}

.h2, h2 {
    font-size: 1.80rem;
    padding: 10px;
    }

div.card p, div.card h2 {

    display:inline-block;
}

div.card p {
    float: right;
    margin-top: 10px;
    margin-right:10px;
    }

    div.card-body p {
        float: left;
        margin:auto;
    }
 